@import url("https://api.fontshare.com/v2/css?f[]=chillax");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: inherit;
    color: inherit;
}

body {
    margin: 20px;
    background-color: #152A38;
    font-family: "Chillax", sans-serif;
    font-weight: 500;
    color: white;
}

header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    overflow: auto;
    white-space: nowrap;

    button {
        padding: 0;
        border: none;
        text-decoration: underline;
    }
}

a {
    text-decoration: underline;
}

button {
    padding: 4px 8px;
    border: 1px solid;
    border-radius: 5px;
}

input {
    padding: 4px 8px;
    border: 1px solid;
    border-radius: 5px;
}

.page-title {
    font-size: 30px;
    margin-bottom: 12px;
}

.loading,
.info {
    font-size: 20px;
    margin-bottom: 12px
}

.table {
    overflow: auto;
    white-space: nowrap;
}

table {
    border-collapse: collapse;

    th,
    td {
        padding: 4px 8px;
        border: 1px solid;
    }
}