@import url("https://api.fontshare.com/v2/css?f[]=chillax@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: inherit;
    color: inherit;
}

body {
    margin: 20px;
    background-color: #152A38;
    font-family: "Chillax", sans-serif;
    font-weight: 500;
    color: white;
}

header {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

a {
    text-decoration: underline;
}

.page-title {
    font-size: 30px;
    margin-bottom: 12px;
}

.loading,
.info {
    font-size: 20px;
    margin-bottom: 12px
}