@import url("https://api.fontshare.com/v2/css?f[]=chillax");

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
}

input {
    outline: none;
}

button:not(:disabled) {
    cursor: pointer;
}

a {
    text-decoration: inherit;
    color: inherit;
}

body {
    --dark-blue: #152A38;
    --light-blue: #29435C;
    margin: 20px;
    background-color: var(--dark-blue);
    font-family: "Chillax", sans-serif;
    font-weight: 500;
    color: white;
}

header {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    margin-bottom: 15px;
    font-size: 20px;

    .menu {
        position: relative;

        >div {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: var(--light-blue);
            border-radius: 16px;
            padding: 4px 8px;
            left: -9px;

            &.right {
                left: unset;
                right: calc(-9px + 8px);
                text-align: right;
            }
        }
    }

    a,
    button {
        padding: 5px;

        &:hover {
            text-decoration: none;
        }
    }

    i {
        display: none !important;
    }

    button {
        border: none;
        text-decoration: underline;

        &:hover:not(:disabled) {
            background-color: transparent;
        }
    }

    @media screen and (max-width: 768px) {
        position: fixed;
        width: 100%;
        bottom: 0;
        justify-content: center;
        margin: 0;
        margin-left: -20px;
        padding: 8px 0;
        background-color: var(--light-blue);

        .menu>div {
            bottom: calc(75px - 16px);
            border-radius: 16px 16px 0 0;
        }

        >a,
        .menu {
            flex: 1 1 0;
            display: flex;
            justify-content: center;
        }

        >a,
        .menu>button {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            font-size: 16px;

            i {
                display: block !important;
                font-size: 22px;
                margin-bottom: 4px;
            }
        }
    }
}

main {
    width: max-content;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding-bottom: 63px;
    }
}

a {
    text-decoration: underline;
}

button {
    padding: 8px 12px;
    border: 1px solid;
    border-radius: 8px;

    &:hover:not(:disabled) {
        background-color: var(--light-blue);
    }
}

input {
    padding: 8px;
    border: 1px solid;
    border-radius: 8px;
}

.page-title {
    font-size: 30px;
    margin-bottom: 12px;
}

.loading,
.info {
    font-size: 20px;
    margin-bottom: 12px;

    i {
        font-size: 38px;
        animation: spin 1s linear infinite;
    }
}

.table {
    overflow: auto;
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 6px 8px;
        border: 1px solid;

        &:has(a) {
            padding: 0;

            a {
                display: block;
                padding: 6px 8px;
            }

            &:hover {
                background-color: var(--light-blue);
            }
        }
    }

    .linked {
        &:hover td {
            background-color: var(--light-blue);
        }

        a {
            text-decoration: none;
        }
    }
}

.create-button {
    margin-bottom: 16px;
    display: inline-block;
    text-decoration: none;
    @extend button
}

.form {
    width: max-content;
    min-width: 25vw;

    .choose-list {
        display: flex;
        flex-direction: column;
        margin: 12px 0;
        border-radius: 9px;
        border: 1px solid;
        max-height: 25vh;
        overflow-y: auto;

        button {
            border: none;
            border-bottom: 1px solid;
            border-radius: 0;

            &.selected {
                background-color: var(--light-blue);
            }

            &:first-child {
                border-radius: 8px 8px 0 0;
            }

            &:last-child {
                border-bottom: none;
                border-radius: 0 0 8px 8px;
            }
        }
    }

    .choose-list-horizontal {
        display: flex;
        flex-direction: row;
        margin: 12px 0;
        border-radius: 9px;
        border: 1px solid;
        max-height: 25vh;
        overflow-y: auto;

        button {
            flex: 1;
            border: none;
            border-right: 1px solid;
            border-radius: 0;

            &.selected {
                background-color: var(--light-blue);
            }

            &:first-child {
                border-radius: 8px 0 0 8px;
            }

            &:last-child {
                border-right: none;
                border-radius: 0 8px 8px 0;
            }
        }
    }

    input {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 12px;
    }

    &>button {
        width: 100%;
        margin-top: 8px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}