.home-page {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 24px;
    }

    .balance {
        margin-top: 12px;
        text-align: center;
        font-size: 48px;
        text-decoration: none;
    }

    .people-accounts {
        width: 100%;
        margin-top: 24px;

        .list {
            margin-top: 8px;
            margin-bottom: -4px;
            display: flex;
            flex-direction: column;

            >a {
                display: flex;
                justify-content: space-between;
                gap: 32px;
                font-size: 18px;
                text-decoration: none;
                padding: 4px 0;
            }
        }
    }

    button {
        margin-top: 24px;
    }

    @media screen and (max-width: 768px) {
        align-items: center;
    }
}